@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8ea289 !important; 
}

.hero-img {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}